modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32953
externalPort = 3001

[[ports]]
localPort = 40995
externalPort = 3000

[[ports]]
localPort = 41041
externalPort = 3003

[[ports]]
localPort = 41233
externalPort = 4200

[[ports]]
localPort = 41915
externalPort = 5000

[[ports]]
localPort = 42083
externalPort = 3002

[[ports]]
localPort = 45041
externalPort = 5173

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["npm", "run", "start"]

[objectStorage]
defaultBucketID = "replit-objstore-e1b2996f-9595-476e-aea6-3842aa94c3b2"

[userenv]

[userenv.shared]
PRIVATE_OBJECT_DIR = "/replit-objstore-e1b2996f-9595-476e-aea6-3842aa94c3b2"
ADMIN_USER_ID = "50346831"
